@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

html {
  border: none;
  margin: none;
  background-color: #f4eeee;
  font-family: "Poppins" !important;
}